@import "tailwindcss";

@theme {
  --color-primary: #2563eb;
  --color-primary-container: #eff4ff;
  --color-on-primary-container: #1e40af;
  
  --color-secondary: #ea580c;
  --color-secondary-fixed: #ffedd5;
  --color-secondary-fixed-dim: #fed7aa;
  --color-on-secondary-fixed: #c2410c;
  
  --color-tertiary: #059669;
  --color-tertiary-container: #ecfdf5;
  --color-on-tertiary-container: #047857;
  
  --color-surface: #f8fafc;
  --color-on-surface: #0f172a;
  --color-on-surface-variant: #64748b;
  --color-surface-container: #ffffff;
  --color-surface-container-low: #f8fafc;
  
  --color-outline: #94a3b8;
  --color-outline-variant: #e2e8f0;
  
  --color-error: #ef4444;
}

body {
  background-color: #f8fafc;
  color: #0f172a;
}
